#root {
  max-width: 1280px;
  margin: 16px auto;
  padding: 2rem;
  text-align: center;
}

table{
  margin: 16px auto;
  width: 100%;
  border-collapse: collapse;
}
th{
  height: 50px;
}

td{
  height: 50px;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px 
  

}
.pagination-select{

  border-radius: 5px;
  font-size: medium;
  padding: 5px 15px;
  margin-left: 8px;
  margin-right: 20px;
  
}
.arrow-button{
  margin: auto 5px;
  padding: 8px;
}
.sort-and-search{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}
.sort-box{
  margin-left: 32px;
}
.search-input{
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 8px;
  margin-right: 20px;
}



